body {
    background-color: hsl(192, 60%, 90%);
}

.images img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: contrast(80%);
    transition: filter 0.3s ease-in-out;
}

.images img:hover {
    filter: contrast(110%);
}

.images div {               /* изображения деление страницы на части */ 
    display: inline-block;
    width: 27%;
    height: 80vh;
    overflow: hidden;
    border-radius: 24px;
}

.images {
    display: flex;            /* дисплей флекс */
    font-size: 0;             /* размер шрифта*/
    text-align: center;
    justify-content: space-around;  /* обосновать содержание */
    min-height: 90vh;               /* мин высота */ 
    align-items: center;
}

@media (max-width: 768px) {       /* адаптивная верстка */ 
    .images div {
        display: block;
        margin: 0 auto;
        width: 90%;
        height: 27vh;
        margin-bottom: 30px;
    }
    .images {
        display: block;
    }
}