body {
    font-family: Arial, sans-serif;
    background-color: grey;
    margin: 0;
    padding: 20px;
}



.movie_reviews {
    display: flex;
    flex-direction: column;  /*в колонку, вертикаль */
    flex-wrap: wrap;  /*сворачивать.*/
    gap: 10px;        /* Между карточками должен быть отступ */
    height: 100vh;
    align-items: flex-start;
}

.review-card {
    flex-grow: 1;   /*карточки растягиваются при наличии дополнительного пространства*/
    flex-shrink: 1;    /*карточки сжимаются при ограниченном пространстве.*/
    flex-basis: 250px; /* начальный размер каждой карточки*/
    background-color: white;  /* Белый фон для карточек. */
    border-radius: 8px;   /*Скруглённые углы*/
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);  /* тень для карточек */
    padding: 16px;        /* внутренние отступы*/
    text-align: center; /*выравнивания текста внутри блочного элемента*/
    
}

.review-card h3,
 .review-card p{
    margin: 8px 0;    
}