

.card img {
max-width: 50%; /* . Размер изображения занимает 50 % ширины контейнера. */
height: auto;   /*Высота задана автоматически */
box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3); /* тень коробки*/
border: 3px solid #ccc; /*С помощью свойства border изображение помещено в рамку толщиной 3 пикселя с цветом #ccc   */
border-radius: 5px; /*Углы изображения скруглены на 5 пикселей с помощью свойства border-radius*/
}